<div x-data="{ open: false }" class="flex items-center justify-center h-screen">
  <div class="w-64" x-show="open">
    <code class="text-dune-spice">
    aos stuff goes here and brings the user to the interactive elements.
    aos is shown to the user only once and the user can roll credits with some option.
    </code>
  </div>
</div>
